.oneMovie {
  display: flex;
  column-gap: 70px;
  margin-top: 40px;
  font-size: 20px;
  &__about {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  &__title {
    font-size: 40px;
  }
  &__backButton {
    border-radius: 100px;
    font-size: 20px;
    font-weight: 800;
    width: 140px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    margin: 55px 0;
    border: none;
    background: linear-gradient(#e3fffe 13.2%, #808286 71.54%);

    &:hover {
      background: linear-gradient(#26fff2 13.2%, #326cff 71.54%);
      border: 2px solid #26fff2;
      transition: 0.2s;
    }

    &:active {
      background: lighten(#326cff, 10%);
    }
  }
  span {
    color: #326cff;
  }
}
