.header {
  background: #000;
  width: 1500px;
  margin: 10px auto 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  &__sort {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
  }
  &__sortSelect {
    border-radius: 5px;
    padding: 5px;
  }
  &__order {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 18px;
  }
  &__orderSelect {
    border-radius: 5px;
    padding: 5px;
  }
  &__search {
    position: relative;
    width: 300px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    input {
      border-radius: 5px;
      width: 100%;
      padding: 5px;
    }
  }
  &__loading {
    position: absolute;
    top: 22px;
    right: 5px;
    width: 25px;
    height: 25px;
  }
  &__logoText {
    align-self: center;
    justify-content: start;
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    color: #fff;
  }
  &__logo {
    grid-column: 2/3;
    display: grid;
    grid-template: 1fr / 1fr 1fr;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid #26fff2;
      border-right: 2px solid #26fff2;
      border-radius: 5px;
      transition: 0.2s;
    }
  }
  &__menu {
    align-self: center;
    justify-self: center;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    &_link {
      margin: 30px;
      color: #fff;
      text-decoration: none;
      &:hover {
        border-bottom: 2px solid #26fff2;
        border-right: 2px solid #26fff2;
        border-radius: 5px;
        transition: all 0.2s;
      }
    }
  }
}
