.shows {
  margin-top: 60px;
  &__title {
    display: inline-flex;
    margin-bottom: 40px;
  }
  &__titleRectangle {
    width: 8px;
    height: 50px;
    background: #26fff2;
    border-radius: 50px;
    margin-right: 10px;
  }
  &__titleText {
    font-size: 28px;
    color: #fff;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid #26fff2;
      transition: all 0.2s;
    }
    h2 {
      margin: 0;
    }
  }
  &__grid {
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    gap: 20px;
  }
  &__gridItem {
    display: flex;
    flex-direction: column;
    img {
      background: linear-gradient(
        109.31deg,
        #fd093f 2.4%,
        #fb1378 2.41%,
        #fccb1a 100%
      );
      width: 100%;
      border-radius: 20px;
    }
    span {
      text-wrap: none;
    }
  }
  &__button {
    background: linear-gradient(#26fff2 13.2%, #326cff 71.54%);
    border-radius: 100px;
    font-size: 20px;
    font-weight: 800;
    width: 140px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    margin: 55px 0 100px 0;
    border: none;
    &:hover {
      border: 2px solid #26fff2;
      transition: 0.2s;
    }
  }
}

.genres__grid {
  //height: 500px;
  display: grid;
  grid-template: auto / repeat(4, 1fr);
  gap: 27px;
}

.actors {
  &__grid {
    display: grid;
    grid-template: auto / repeat(5, 1fr);
    gap: 27px;
  }
  &__gridItem {
    display: flex;
    flex-direction: column;
    img {
      border-radius: 10%;
      width: 100%;
    }
    span {
    }
  }
}
