@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;800&display=swap);
@import url(./styles/normalize.scss);

body {
  background-color: #000;
}

.root {
  font-family: Mulish, sans-serif;
  margin: 0 auto;
  color: #fff;
}
.content {
  max-width: 1500px;
  margin: 0 auto;
}
